*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#right-wheel,
#left-wheel{
    animation: wheel 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#man-on-bike,#hat{
    animation: bike 1s ease-in-out infinite;
}
@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }   
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike{
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(20px);
    }
}